ai-ecommerce-omnicanal-sales-agentv1.json
{
  "name": "ai-ecommerce-omnicanal-sales-agent",
  "nodes": [
    {
      "parameters": {
        "content": "# Agente Ecommerce",
        "height": 436,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        1024
      ],
      "id": "9847d0d6-aeeb-45f9-8c74-7dc63a6046ff",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        80
      ],
      "id": "544e3b64-269a-4f03-9e88-a7f1dab58293",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/tienda/points/delete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"metadata.tipo\",\n        \"match\": { \"value\": \"tienda\" }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        80
      ],
      "id": "ca32cdfd-8a6e-4249-9397-cafb55335bec",
      "name": "Borrar Productos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "X8ktfReQCtQEOkWO",
          "name": "qdrant header auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Carga de Producto Ecommerce",
        "height": 452,
        "width": 1152,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1189c182-dade-4d1a-bda1-ac763097df07",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        1312
      ],
      "id": "5747efff-e1b7-4892-8705-264621f67584",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "VKwK10IG7fpLfrmB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ID_DEL_SUBFLUJO",
          "mode": "list",
          "cachedResultName": "Agente_Ecommerce_Subflujo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        960,
        80
      ],
      "id": "7f682c8b-75a8-4390-9d12-da799bcbb122",
      "name": "Obtener Productos"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn {\n  \"offset\": 0,\n  \"limit\": 100,\n  \"hasMore\": true\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        80
      ],
      "id": "7e6ec80f-ec0a-41de-9b63-fb8ffff47405",
      "name": "Offset y Limit Iniciales"
    },
    {
      "parameters": {
        "jsCode": "return {\n    \"offset\": $input.first().json.offset,\n    \"limit\": $input.first().json.limit,\n    \"hasMore\": $input.first().json.hasMore\n  }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        80
      ],
      "id": "bb37abc4-6d79-43f4-ad9a-73eb1a4e1943",
      "name": "Offset y Limit variables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "074939d5-10bb-4555-95a1-baa859d3ac0a",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        272
      ],
      "id": "67819430-6e6f-4324-a74e-e0c21b9bb768",
      "name": "If1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=4565",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -464,
        1312
      ],
      "id": "5b03f39c-3fcb-4158-88c4-4ef6e57a7663",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "C0jqCPOP5KubZo7U",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TU_WEBHOOK_ID_AQUI",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1888,
        656
      ],
      "id": "9c125815-cfaf-4cda-92be-7f57192325a4",
      "name": "Webhook Chatwoot",
      "webhookId": "TU_WEBHOOK_ID_AQUI"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=fin",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1696,
        656
      ],
      "id": "e1816218-e5e6-42ea-8719-184683958fa0",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.message.chatId }}",
        "messageData": "={{ JSON.stringify($('Edit Fields').item.json.message) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1264,
        656
      ],
      "id": "f8d20585-6b8d-4df2-8c64-9f0212a4d4f7",
      "name": "push mensaje1",
      "credentials": {
        "redis": {
          "id": "40LmfZOwc9gjolcD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -432,
        640
      ],
      "id": "cfce53c7-3461-424c-84d7-34b9e2b33ba2",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.message) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        640
      ],
      "id": "71a914ae-567e-4149-8046-ecfd2d7cd207",
      "name": "Json Parse1"
    },
    {
      "parameters": {
        "amount": 12
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1104,
        656
      ],
      "id": "8604c4fd-4328-4437-a94f-0ca267ae3ebd",
      "name": "Wait3",
      "webhookId": "TU_WEBHOOK_ID_AQUI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18445dcf-1967-40d1-aec2-6d2196b1364b",
              "leftValue": "={{ JSON.parse($json.message.last()).messageId }}",
              "rightValue": "={{ $('Edit Fields').item.json.message.messageId }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -768,
        656
      ],
      "id": "ffc8f6f8-92f7-4b74-a8da-ef3860949a71",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -608,
        800
      ],
      "id": "9f04978a-b93a-4eee-bf5f-8e9144f785d9",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields').item.json.message.chatId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -928,
        656
      ],
      "id": "c2699bc6-df0a-4b1e-91d6-c0c834827f09",
      "name": "obtener todos mensajes1",
      "credentials": {
        "redis": {
          "id": "40LmfZOwc9gjolcD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.message.chatId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -608,
        640
      ],
      "id": "3cc37392-de33-4e41-8fc0-267b1819e047",
      "name": "borrar todos mensajes1",
      "credentials": {
        "redis": {
          "id": "40LmfZOwc9gjolcD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Procesamiento de Mensajes",
        "height": 408,
        "width": 1888
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1936,
        544
      ],
      "id": "d927fda7-4680-418b-b5c7-ddad7d01284d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields').item.json.serverUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        592
      ],
      "id": "fd203fc5-0f97-428a-9826-b82b1bec2cda",
      "name": "get audio"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields').item.json.serverUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        720
      ],
      "id": "7e83fc9e-b200-4003-a352-38acf0739209",
      "name": "get image"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gemini-2.5-flash-image",
          "mode": "id"
        },
        "text": "Describe la imagen lo mejor posible.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        496,
        720
      ],
      "id": "b10f7032-fa44-48ac-90d5-1cf4168ac92b",
      "name": "describe image",
      "credentials": {
        "openAiApi": {
          "id": "j3bNkqE6s1cKh2hC",
          "name": "OpenAi Naga"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab3e1c44-9a2c-48d7-a5d2-41339a74c99e",
              "name": "content",
              "value": "=<image>\n{{ $json.content }}\n</image>",
              "type": "string"
            },
            {
              "id": "c65345d3-f6f4-4987-8014-cf9707b46f90",
              "name": "timestamp",
              "value": "={{ $('Switch1').item.json.messageTimeStamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        720
      ],
      "id": "573e66e7-ffd3-454a-addb-a39b42c129d5",
      "name": "imagen content"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageFileType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3d7bf356-e75d-43a7-958e-b731bde14a5f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c44ac4d2-6462-470d-882b-0dbb3db98840",
                    "leftValue": "={{ $json.messageFileType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d190e0e5-43ac-4a8b-8871-59bd6b2b484e",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Otro"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        96,
        704
      ],
      "id": "3b6f04e1-86c9-4400-8050-c8897fd68b1f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab3e1c44-9a2c-48d7-a5d2-41339a74c99e",
              "name": "content",
              "value": "=<audio>\n{{ $json.text }}\n</audio>",
              "type": "string"
            },
            {
              "id": "9f45f009-78bf-4aff-a3fc-29036772ed5b",
              "name": "timestamp",
              "value": "={{ $('Switch1').item.json.messageTimeStamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        592
      ],
      "id": "c03e4d3c-71e4-4d29-ac18-f9d397679d08",
      "name": "audio content1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "167b012f-c39d-456c-be8e-6e26462ef70e",
              "name": "content",
              "value": "={{ $json.messageContent }}",
              "type": "string"
            },
            {
              "id": "feb0bdc6-711f-42bc-b54d-1b681c646351",
              "name": "timestamp",
              "value": "={{ $json.messageTimeStamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        880
      ],
      "id": "167c5c52-c4ed-491c-b5ca-f73e01e1d1bd",
      "name": "text content1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        864,
        704
      ],
      "id": "190f211b-041b-41bd-b587-a17bc2b94a0a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1024,
        720
      ],
      "id": "93a8f047-9909-4091-9cd9-e6dcf913a129",
      "name": "Sort1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1184,
        720
      ],
      "id": "0dcc56b0-d281-4550-977b-97fb6974bcc0",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2599831-cc84-4aa6-acf7-77ed624f72ab",
              "name": "query",
              "value": "={{ $json.messages.join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        720
      ],
      "id": "d91c4ecc-98d7-46ec-9b83-3e2c84ed0a0f",
      "name": "mensaje1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.naga.ac/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        592
      ],
      "id": "377fbc34-ceea-45e6-865c-abf899e4e363",
      "name": "analizar audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JlVysjUoo28NF8Qu",
          "name": "naga ac"
        }
      }
    },
    {
      "parameters": {
        "content": "# Procesamiento del Mensaje (Texto, Audio, Imagen)",
        "height": 600,
        "width": 1592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        480
      ],
      "id": "614c30f1-e82e-41cf-a78a-2dffd2197b79",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.tudominio.com/api/v1/accounts/{{ $('Webhook Chatwoot').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook Chatwoot').item.json.body.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output.response.part_1 }}"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        1296
      ],
      "id": "6d0c8284-80b7-444d-8d8f-f1ea03953dc2",
      "name": "parte 1",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SF3zAvZnjtOU917H",
          "name": "chatwoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.tudominio/api/v1/accounts/{{ $('Webhook Chatwoot').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook Chatwoot').item.json.body.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Verificador de Respuesta1').item.json.output.response.part_2 }}"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        1200
      ],
      "id": "1b57ee3e-17e2-4d47-8d3f-42cced3df078",
      "name": "parte 2",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SF3zAvZnjtOU917H",
          "name": "chatwoot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.tudominio.com/api/v1/accounts/{{ $('Webhook Chatwoot').item.json.body.messages[0].account_id }}/conversations/{{ $('Webhook Chatwoot').item.json.body.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Verificador de Respuesta1').item.json.output.response.part_3 }}"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        1200
      ],
      "id": "5af55348-11b1-418a-9c27-24e3e226f1ec",
      "name": "parte 3",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SF3zAvZnjtOU917H",
          "name": "chatwoot account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        224,
        1456
      ],
      "id": "76411ce5-b1b1-4d8f-bb9b-a45f0d6e6cba",
      "name": "Auto-fixing Output Parser1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"response\": {\n      \"part_1\": \"Parte uno de la respuesta\",\n      \"part_2\": \"Parte dos de la respuesta (opcional).\",\n      \"part_3\": \"Parte tres de la respuesta (opcional).\"\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        272,
        1600
      ],
      "id": "4c07d820-51d8-4cc5-8fee-f4a92df7fcf9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Texto de entrada:\n{{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Formatea el texto de entrada de acuerdo a las instrucciones.\n\n---------------\n\n## Instrucciones\n- Devuelve un mensaje de salida dividido en 1, 2, o 3 partes, dependiendo de la longitud del texto de entrada.\n- El mensaje de salida debe sonar relajado y amigable.\n- Elimina estos caracteres:\n \"*\", \"¿\", \"¡\", \"#\"\n- Utiliza signos de interrogación \"?\" **solo en el final de las frases que sean preguntas.**\n- **No** es necesario que las 3 partes contengan un mensaje.\n- Si el texto de entrada contine una lista, déjala sola en una parte.\n- En la respuesta no se puede devolver mensajes como \"Utilizando la herramienta Conocimiento para buscar...\" o cosas similares.\n- **IMPORTANTE: No añadas ni elimines información esencial del texto de entrada. Respeta fielmente el contenido original. Solamente ajusta la forma (ej. eliminar caracteres, dividir en partes, ajustar estilo) para cumplir las instrucciones dadas.**\n\n## **IMPORTANTE**\n- Si haces bien tu trabajo te voy a pagar un sueldo de $5,000 USD al mes.\n- **SIEMPRE debes completar al menos una parte con texto**."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        144,
        1296
      ],
      "id": "8ddb52e8-0a6e-4951-a770-cb057abf847e",
      "name": "Verificador de Respuesta1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini-2025-08-07",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        1408
      ],
      "id": "f26caa46-20a8-496a-b098-c9aef5d8f510",
      "name": "4o mini Verificador1",
      "credentials": {
        "openAiApi": {
          "id": "j3bNkqE6s1cKh2hC",
          "name": "OpenAi Naga"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b92a1f4-d4bc-4689-87cf-1be40aa49c27",
              "leftValue": "={{ $('Verificador de Respuesta1').item.json.output.response.part_2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        1296
      ],
      "id": "91cbdfaa-08ca-460f-9126-d44e74203ca8",
      "name": "If Parte "
    },
    {
      "parameters": {
        "amount": "={{ 2+$('Verificador de Respuesta1').item.json.output.response.part_2.length*0.01 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        1200
      ],
      "id": "b00df838-b796-4285-9394-9c4ed7a6a147",
      "name": "Wait1",
      "webhookId": "TU_WEBHOOK_ID_AQUI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b92a1f4-d4bc-4689-87cf-1be40aa49c27",
              "leftValue": "={{ $('Verificador de Respuesta1').item.json.output.response.part_3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        1344
      ],
      "id": "569c03b2-3dd0-4261-8c5c-d97ac166d026",
      "name": "If Parte 4"
    },
    {
      "parameters": {
        "amount": "={{ 2+$('Verificador de Respuesta1').item.json.output.response.part_3.length*0.01 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        1200
      ],
      "id": "c3721a4c-c542-4b1e-90f2-e3c4a7ef11d1",
      "name": "Wait4",
      "webhookId": "TU_WEBHOOK_ID_AQUI"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        1424
      ],
      "id": "7ac46333-cbcb-42a0-9e4f-944722855256",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "# Formato de Respuesta por WhatsApp",
        "height": 596,
        "width": 1400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        1152
      ],
      "id": "4634ba58-d5ae-44a9-9a23-279195e0ac7d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "createCollection",
        "collectionName": "tienda",
        "vectors": "{\n  \"size\": 768,\n  \"distance\": \"Cosine\"\n}",
        "shardNumber": 1,
        "replicationFactor": 1,
        "writeConsistencyFactor": 1,
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -256,
        368
      ],
      "id": "1fd8d240-463b-4283-a8ef-526de491bf6d",
      "name": "Create Collection1",
      "credentials": {
        "qdrantRestApi": {
          "id": "xWtFHgslzQ4cVu18",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "content": "Crear Coleccion",
        "height": 192,
        "width": 512,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        320
      ],
      "id": "1620fe70-c0d5-462a-9d77-dbc5dd13fc5f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1606fc83-7f1a-4093-90ab-0ec147deb189",
              "name": "accountId",
              "value": "={{ $json.body.messages[0].account_id }}",
              "type": "string"
            },
            {
              "id": "784c1926-6606-4909-8b48-972c4d87cba6",
              "name": "conversationId",
              "value": "={{ $json.body.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "dd21caed-659a-42e4-806d-6a2a0f67671f",
              "name": "message.messageId",
              "value": "={{ $json.body.messages[0].source_id }}",
              "type": "string"
            },
            {
              "id": "32a6e853-2c57-494c-b10c-0ddffe037f74",
              "name": "message.chatId",
              "value": "={{ $json.body.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "487705c1-39b2-46e6-a04d-994253fcc863",
              "name": "message.messageType",
              "value": "={{ $json.body.messages[0]?.attachments ? $json.body.messages[0].attachments[0].file_type : $json.body.messages[0].content_type }}",
              "type": "string"
            },
            {
              "id": "2e0a8ca5-35b9-4d4d-9005-1e66ac828eeb",
              "name": "message.messageContent",
              "value": "={{ $json.body.messages[0].content ?? ''}}",
              "type": "string"
            },
            {
              "id": "24c275ee-aef2-4b03-bf22-4ca69aa05e98",
              "name": "message.messageMedia",
              "value": "={{ $json.body.messages[0].attachments[0].data_url ?? '' }}",
              "type": "string"
            },
            {
              "id": "2f72443f-eace-44fa-8a81-5f3bf1ab5e88",
              "name": "message.messageTimeStamp",
              "value": "={{ $json.body.messages[0].updated_at.toDateTime().toISO() }}",
              "type": "string"
            },
            {
              "id": "78741b86-a923-42ca-a202-193b5c13f08c",
              "name": "message.contactId",
              "value": "={{ $json.body.contact_inbox.contact_id }}",
              "type": "string"
            },
            {
              "id": "ba5211bc-2785-497c-938e-4b703b7d2331",
              "name": "message.inboxId",
              "value": "={{ $json.body.messages[0].inbox_id }}",
              "type": "string"
            },
            {
              "id": "a8c0f64c-2ad7-42c8-9af0-eb792f298cdd",
              "name": "message.userName",
              "value": "={{ $json.body.messages[0].sender.name }}",
              "type": "string"
            },
            {
              "id": "8a263df5-ca1d-43ae-bbdf-58e94a13374e",
              "name": "estado",
              "value": "={{ $json.body.meta.sender.custom_attributes.estado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        656
      ],
      "id": "3253d2e5-b17d-4588-b8a3-940d56d8d422",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El usuario te envía el siguiente mensaje\n\nHoy: {{ $now.format('dd MMMM. yyyy', 'es') }}\nuser name: {{ $('Edit Fields').item.json.userName }}\n\nMensaje del Usuario:\n{{ $json.query }}",
        "options": {
          "systemMessage": "=# Rol\n\nEres un asistente inteligente para una tienda de ropa. Tu tarea es analizar el texto de entrada de un chat y determinar la intención del usuario: si está buscando un **producto**, si tiene una **pregunta frecuente** sobre el proceso de compra, o si quiere **registrarse para una notificación de stock**.\n\nTu tarea es de vital importancia para la atención al cliente en la empresa, por lo cual si cumples tus tareas (decidir la herramienta correcta) de forma eficiente te vamos a recompensar con una propina de 2000 euros.\n\n# Comportamiento\n\n* Cuando respondas con productos, siempre hazlo de manera amigable, tienes que indicar el nombre (name), la descripción (description), el precio (price), y la dirección del producto (permalink).\n* Este comportamiento es **específico para cuando respondes con productos** obtenidos de `BuscadorProductos`.\n* Cuando respondas preguntas frecuentes, hazlo de forma natural y amigable, usando la información que te da la herramienta `BuscadorFAQs`.\n\n# Tarea\n\nAsistir a las personas bridándoles información precisa. Tienes **tres** misiones principales:\n\n1.  **Ayudar con Productos:** Ayudar a los clientes a encontrar los productos adecuados, responder preguntas sobre características técnicas, comparar opciones y recomendar productos según sus necesidades.\n2.  **Responder Preguntas Frecuentes:** Ayudar a los clientes con dudas sobre el proceso de compra, como **políticas de envío, métodos de pago, devoluciones, garantías,** etc.\n3.  **Registrar Notificaciones de Stock:** Cuando un producto esté agotado, ofrecer al cliente la posibilidad de ser notificado cuando vuelva a estar disponible y registrar sus datos si acepta.\n\nSiempre que te pregunten por algún tipo de producto (`camisa`, `zapatos`, etc.), tienes que buscar información en la herramienta `BuscadorProductos`.\n\nSiempre que te pregunten por información general de la tienda (`envío`, `devolución`, `pago`, etc.), tienes que buscar información en la herramienta `BuscadorFAQs`.\n\nSi no encuentras la información en la herramienta correspondiente, responderás que te den más detalles para ayudarte mejor.\n\nUtiliza un tono alegre para comunicarte, y cuando el usuario inicie la conversación, dale la bienvenida, usa emojis en tus mensajes.\n\n# Herramientas\n\nDispones de **tres (3) herramientas** para ayudarte. Debes decidir cuál usar según la pregunta del usuario.\n\n1.  **`BuscadorProductos`**: La usarás SIEMPRE que el usuario pregunte por un **producto específico** (ej: 'camisa', 'zapatos', 'mochila').\n2.  **`BuscadorFAQs`**: La usarás SIEMPRE que el usuario tenga una **pregunta general sobre el proceso de compra** (ej: 'cuánto tarda el envío', 'cómo puedo devolver algo', 'métodos de pago').\n3.  **`RegistrarNotificacionStock`**: La usarás **SÓLO** después de que un usuario te haya confirmado que quiere ser notificado sobre un producto agotado **Y** te haya proporcionado sus datos de contacto.\n    * Argumentos de esta herramienta: `nombre` (string), `correo` (string), `telefono` (string), `producto_deseado` (string, el nombre o ID del producto agotado).\n\n**Manejo de Preguntas Compuestas:**\nSi el usuario te hace una pregunta que incluye **tanto un producto como una pregunta frecuente** (ejemplo: 'cuánto cuestan los zapatos negros y qué métodos de pago aceptan?'), **debes usar ambas herramientas, una después de la otra**.\nPrimero, usa `BuscadorProductos` para obtener la información de los zapatos, y luego usa `BuscadorFAQs` para obtener los métodos de pago. Finalmente, **combina toda la información** en una sola respuesta coherente para el usuario.\n\n---\n**Flujo de Notificación de Stock**\n¡ATENCIÓN! Este es un flujo de conversación especial de varios pasos. Tu propina depende de que lo sigas perfectamente.\n\n* **Paso 1 (Producto Agotado):** Usas `BuscadorProductos` y la regla de salida te indica que `stock_status` es `outofstock`.\n* **Paso 2 (Ofrecer):** Tu respuesta al usuario DEBE SER informar que está agotado y **siempre ofrecer la notificación**.\n    * *Ejemplo de respuesta:* \"¡Uy! 😢 Parece que [Nombre del Producto] está agotado por ahora. ¿Te gustaría que te avise en cuanto vuelva a estar disponible?\"\n\n**(NUEVA SECCIÓN) Manejo de Preguntas Frecuentes de Stock:**\nEs muy probable que, después del Paso 2, el usuario pregunte lo siguiente. **NO USES la herramienta `BuscadorFAQs` para esto.** Estas son tus respuestas estándar, ¡siempre debes darlas con un tono alegre!\n\n* **Si el usuario pregunta:** \"¿Cuándo estará disponible?\" o \"¿Para cuándo llega?\"\n* **Tu respuesta debe ser:** \"¡Buena pregunta! Usualmente, nuestro stock se repone en un plazo de 7 a 15 días, ¡así que no tendrás que esperar mucho! 😉 ¿Te anoto en la lista?\"\n\n* **Si el usuario pregunta:** \"¿Vendrá al mismo precio?\" o \"¿Me respetan el precio?\"\n* **Tu respuesta debe ser:** \"¡Claro que sí, y esta es la mejor parte! 🥳 Al registrarte para la notificación, te 'congelamos' el precio actual. Esto significa que podrás comprarlo al mismo precio de hoy, ¡incluso si el producto regresa con un precio superior! ¿Te registramos?\"\n\n* **Paso 3 (Usuario ACEPTA):** El usuario dice \"Sí\", \"Claro\", \"Anótame\", \"OK\", etc.\n    * **IMPORTANTE:** ¡NO llames a la herramienta `RegistrarNotificacionStock` todavía!\n    * *Tu respuesta DEBE SER pedir los datos:* \"¡Genial! 👍 Para avisarte, por favor déjame los siguientes datos: Nombre, Correo y Teléfono.\"\n* **Paso 4 (Usuario da los Datos):** El usuario te da su información (ej: \"Soy Juan Pérez, mi correo es juan@correo.com y mi tel es 555-1234\").\n* **Paso 5 (Llamar Herramienta):** ¡AHORA SÍ! Extraes los datos (`nombre`, `correo`, `telefono`) y los usas para llamar a la herramienta `RegistrarNotificacionStock`. También DEBES incluir el `producto_deseado` (el nombre del producto del Paso 1, que **debes recordar** de la conversación).\n* **Paso 6 (Confirmar):** La herramienta te dará una respuesta. Úsala para confirmar al usuario.\n---\n\n# Reglas de Salida:\n\nHe dividido las reglas de salida por herramienta.\n\n### Reglas de Salida: Resultados de \"BuscadorProductos\"\n\nCuando la herramienta \"BuscadorProductos\" te devuelva una lista de productos:\n\n1.  **Si \"stock_status\" = \"instock\"**: Muestra el producto (nombre, precio, descripcion, link).\n2.  **Si \"stock_status\" = \"outofstock\"**: Informa que el producto está agotado y **DEBES seguir el `Flujo de Notificación de Stock` (Paso 2)**, ofreciendo al usuario la notificación.\n3.  **Si la lista está vacía**: Informa que no encontraste nada.\n4.  **Si la herramienta da error**: Informa al cliente que hubo un error.\n\n### Reglas de Salida: Resultados de \"BuscadorFAQs\"\n\nCuando la herramienta \"BuscadorFAQs\" te devuelva información:\n\n1.  **Si la herramienta encuentra una respuesta relevante**: Usa la información de la respuesta para contestar al usuario. ¡No muestres la respuesta 'en crudo'!, debes usarla para formular una respuesta natural y amigable, con un tono alegre.\n2.  **Si la lista está vacía o no es relevante**: Informa amablemente que no tienes una respuesta para esa pregunta específica y pregúntale si puede reformularla.\n3.  **Si la herramienta da error**: Informa al cliente que hubo un error al consultar esa información.\n\n### Reglas de Salida: Resultados de \"RegistrarNotificacionStock\"\n\nCuando la herramienta \"RegistrarNotificacionStock\" te devuelva una respuesta:\n\n1.  **Si la herramienta fue exitosa (ej: {\"status\": \"registrado\"})**: Confirma al usuario de forma alegre. (Ej: \"¡Listo, [Nombre]! Ya te he anotado. Te enviaremos una notificación a [Correo] tan pronto como tengamos el [Producto] de vuelta. ¿Puedo ayudarte en algo más? 😊\").\n2.  **Si la herramienta da error**: Informa al cliente que hubo un problema al guardar sus datos y que intente más tarde.\n\n# Especificaciones\n\nAtención al cliente: Responde con cortesía y precisión. Ayuda a los clientes a elegir el mejor producto según su proyecto o su caso particular.\n\nDetalles técnicos: Explica especificaciones como materiales, medidas, voltajes, capacidades de carga, marcas y compatibilidades.\n\nComparaciones y recomendaciones: Sugiere productos relacionados o de mejor calidad basándote en precio, durabilidad y uso recomendado.\n\nUtiliza un lenguaje informal: Usa términos técnicos cuando sea necesario, pero asegúrate de que sean comprensibles para clientes sin experiencia. Utilizada emojis en todos tus mensajes para que se sientan amigables.\n\nSer empático: Presta atencion a lo que dice el usuario, mostrando que entiendes sus preocupaciones y emociones. Reconoce y valida las emociones del usuario. Haz saber al usuario que sus sentimientos son comprendidos.\n\nUsa un Lenguaje Comprensivo: usa un lenguaje que muestre comprensión y preocupación genuina por el bienestar del usuario.\n\nSe conversacional: usa la información proporcionada por la persona para hacer preguntas de seguimiento pertinentes, creando un flujo de conversación natural y mostrando un interés genuino por sus respuestas.\n\n# Notas:\n\n* Utiliza la herramienta **correcta** para cada situación: `BuscadorProductos`, `BuscadorFAQs`, o ambas. Sigue el `Flujo de Notificación de Stock` cuando sea necesario.\n* Nunca te inventes información sobre un producto **ni sobre las políticas de la tienda**. Solo puedes obtener la información de tus herramientas.\n* Fecha y hora actual: {{ $now }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -576,
        1120
      ],
      "id": "9f04108d-6b87-49b6-973c-1b0c1edbfc0a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "description": "Utiliza siempre esta herramienta para cualquier consulta sobre productos.",
        "workflowId": {
          "__rl": true,
          "value": "ID_DEL_SUBFLUJO",
          "mode": "list",
          "cachedResultUrl": "/workflow/ID_DEL_SUBFLUJO",
          "cachedResultName": "BuscadorProductos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -176,
        1056
      ],
      "id": "60a1ce24-2a73-4af0-b9b5-40cd29334801",
      "name": "BuscadorProductos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -608,
        1312
      ],
      "id": "4785e6dc-1ca8-4084-ba8e-fcfda337377a",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "NTDyXAq9jm6H9TCS",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        64,
        1552
      ],
      "id": "3f1119fd-f638-4b75-bd28-4ef1e26dc84f",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "NTDyXAq9jm6H9TCS",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createCollection",
        "collectionName": "preguntas_tienda",
        "vectors": "{\n  \"size\": 768,\n  \"distance\": \"Cosine\"\n}",
        "shardNumber": 1,
        "replicationFactor": 1,
        "writeConsistencyFactor": 1,
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -496,
        368
      ],
      "id": "fc17689f-4449-4511-8355-202bf8f35e1a",
      "name": "Create Collection2",
      "credentials": {
        "qdrantRestApi": {
          "id": "xWtFHgslzQ4cVu18",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Conocimiento",
        "toolDescription": "Utiliza esta herramienta para contestar preguntas frecuentes como metodos de pago, metodos de envio, etc.",
        "qdrantCollection": {
          "__rl": true,
          "value": "preguntas_tienda",
          "mode": "list",
          "cachedResultName": "preguntas_tienda"
        },
        "topK": 7,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -320,
        1216
      ],
      "id": "77c23d5f-56ed-4a7c-b15e-c3551f916d2b",
      "name": "BuscadorFAQs",
      "credentials": {
        "qdrantApi": {
          "id": "9kmkFhr9EEqNHPxm",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "TU_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "RegistrarNotificacionStock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/TU_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/TU_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
            "Correo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Correo', ``, 'string') }}",
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', ``, 'string') }}",
            "Producto Deseado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Producto_Deseado', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Producto Deseado",
              "displayName": "Producto Deseado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -304,
        1056
      ],
      "id": "ec75653a-bf82-4001-9b25-5830e19d31a8",
      "name": "RegistrarNotificacionStock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0ANtZLmZWwD0kf1j",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Borrar Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar Productos": {
      "main": [
        [
          {
            "node": "Offset y Limit Iniciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "BuscadorFAQs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Productos": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offset y Limit Iniciales": {
      "main": [
        [
          {
            "node": "Offset y Limit variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offset y Limit variables": {
      "main": [
        [
          {
            "node": "Obtener Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Offset y Limit variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push mensaje1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Json Parse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "obtener todos mensajes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "borrar todos mensajes1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener todos mensajes1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "borrar todos mensajes1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get audio": {
      "main": [
        [
          {
            "node": "analizar audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get image": {
      "main": [
        [
          {
            "node": "describe image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "describe image": {
      "main": [
        [
          {
            "node": "imagen content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imagen content": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "get audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio content1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text content1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analizar audio": {
      "main": [
        [
          {
            "node": "audio content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json Parse1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensaje1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parte 1": {
      "main": [
        [
          {
            "node": "If Parte ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parte 2": {
      "main": [
        [
          {
            "node": "If Parte 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parte 3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Verificador de Respuesta1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Verificador de Respuesta1": {
      "main": [
        [
          {
            "node": "parte 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Parte ": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Parte 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "parte 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Parte 4": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "parte 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "push mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Verificador de Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscadorProductos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Verificador de Respuesta1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BuscadorFAQs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RegistrarNotificacionStock": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  
  "meta": {
    
  },
  
  "tags": []
}